/* colors */
.bg-photo {
  background: center top no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  display: inline-block;
}
/* -------- begin html tag settings --------- */
BODY {
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
}
TD {
  padding: 4px;
}
h1,
h2,
h3,
h4,
h5 {
  color: #2b416d;
  font-family: 'Raleway', Georgia, Times, serif;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: .2em;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  font-weight: bold;
}
h1,
h1.fl-heading .fl-heading-text {
  margin-top: 0;
  font-size: 38px;
}
h1 span,
h1.fl-heading .fl-heading-text span {
  color: #00a7e4 !important;
}
h2 {
  font-size: 34px;
  font-weight: bold;
}
h3 {
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
}
h4 {
  font-size: 25px;
  font-weight: bold;
}
ul {
  list-style: square;
  margin: 0 0 18px 0;
}
ol {
  list-style: decimal;
  margin: 0 0 18px 0;
}
ul > li,
ol > li {
  margin-bottom: 1em;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
p,
.p,
li {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-weight: 400;
}
div {
  line-height: 1.2em;
}
a {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
  outline: 0;
}
a:visited {
  color: #000000;
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  display: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  padding: 4px;
}
code {
  white-space: wrap;
}
/* Text meant only for screen readers */
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
/* ---------- begin structural settings ---------------- */
#container {
  font-size: 16px;
  float: left;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
#container .entry-content p,
#container .entry-content label {
  font: 16px/1.4em 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-weight: 400;
}
#container .entry-content label.frm_primary_label {
  font-weight: 400;
  margin-bottom: 0 !important;
}
section,
.section {
  float: left;
  position: relative;
  width: 100%;
  padding: 50px 0;
}
.container {
  position: relative;
  text-align: left;
}
.mobile-only {
  display: none;
}
#header {
  background: #ffffff;
  position: fixed;
  padding: 10px 0;
  height: 80px;
  z-index: 999;
  left: 0px;
}
#header .container {
  padding: 0px 50px;
  width: 100%;
}
#header #nav {
  text-align: center;
  width: 100%;
}
#header #nav ul {
  margin: 0 auto;
}
#header #nav ul li {
  position: relative;
  width: 13.5%;
  margin-top: 20px;
  padding-right: 10px;
}
#header #nav ul li a {
  color: #2b416d;
  display: block;
  margin: 0 0 10px 0;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Raleway', Georgia, Times, serif;
  font-weight: bold;
  text-align: left;
  display: inline;
}
#header #nav ul li a:hover,
#header #nav ul li a:active,
#header #nav ul li li:hover {
  color: #000000;
}
#header #nav ul li ul.sub-menu,
#header #nav ul li ul.children {
  position: absolute;
  top: 100px;
  left: 4px;
  z-index: 20000;
  opacity: 0;
}
#header #nav ul li ul.sub-menu li,
#header #nav ul li ul.children li {
  float: none;
  background-color: #2b416d;
  padding: 0px;
  width: 100%;
}
#header #nav ul li ul.sub-menu a,
#header #nav ul li ul.children a {
  border-bottom: 1px solid #2b416d;
  margin: 0;
  text-align: center;
  padding: 10px;
}
#header #nav ul li ul.sub-menu a:hover,
#header #nav ul li ul.children a:hover,
#header #nav ul li ul.sub-menu a:active a:hover,
#header #nav ul li ul.children a:active a:hover {
  color: #2b416d;
}
#header #nav ul li:hover ul.sub-menu,
#header #nav ul li:hover ul.children {
  opacity: 1;
}
#header #nav .menu-home {
  margin-top: 0px;
  width: 19%;
}
#header #nav .menu-home a {
  color: #2b416d;
  display: block;
  padding: 60px;
  width: 100%;
  text-align: center;
}
#header #nav .menu-home a:hover {
  color: #2b416d;
}
#header #nav .menu-home::before {
  content: '';
  background-image: url('../images/Letblu-Logo.png');
  background-size: 200px 176px;
  width: 100%;
  height: 176px;
  position: absolute;
  z-index: 9;
  top: 0px;
  margin-top: -10px;
  left: 0px;
  right: 0px;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#header #nav .menu-phone {
  color: #00a7e4;
  padding-right: 0px;
}
#header #nav .menu-phone::before {
  content: '\f095';
  padding-right: 5px;
  font-family: 'FontAwesome';
}
#header #nav .menu-phone a {
  color: #00a7e4;
}
#header #nav li:nth-child(1n+5) {
  text-align: center;
}
#header #nav li:nth-child(1n+7) {
  text-align: right;
}
#header .mobile-nav {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 10px;
  display: none;
  float: right;
  z-index: 1000;
}
#header.shrink {
  box-shadow: 0px 0px 15px;
}
#header.shrink #nav .menu-home::before {
  background-size: 119px 105px;
  height: 85px;
  background-position: top;
  margin-top: -15px;
}
#header.shrink #nav .menu-home a {
  display: inline;
  padding: 50px;
}
.nav,
.nav ul,
.menu,
.menu ul {
  margin: 0;
  padding: 0;
}
.nav li,
.menu li {
  float: left;
  list-style: none;
  margin: 0;
}
.nav a,
.menu a {
  text-decoration: none;
}
@media only screen and (max-width: 1200px) {
  #header .container {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 1210px) {
  #header #nav .menu-phone a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1085px) {
  #header #nav .menu-phone a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 980px) {
  #header #nav .menu-phone::before {
    display: none;
  }
}
/* Tablet (Portrait) ------------------------------------- */
@media only screen and (max-width: 959px) {
  .mobile-only {
    display: block;
  }
  #header .logo img {
    max-width: 300px;
    margin: auto;
  }
  #header col-sm-12 {
    text-align: center;
  }
  #header .mobile-nav {
    display: block;
    top: 0px;
    right: 0px;
    position: absolute;
    color: #2b416d;
  }
  #header .logo img {
    max-width: 200px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #header #nav .menu-phone a {
    font-size: 20px;
  }
  #header #nav .menu-phone::before {
    display: inline;
  }
  #header #nav .menu-header {
    display: none;
    background: #ffffff;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px;
  }
  #header #nav ul .menu-home {
    display: none;
  }
  #header #nav ul li:nth-child(1n+7) {
    text-align: center;
  }
  #header #nav ul li {
    float: none;
    padding: 5px;
    margin: auto;
    width: 100%;
  }
  #header #nav ul li:first-child a,
  #header #nav ul li:last-child a {
    text-align: center;
  }
  #header #nav ul li ul.sub-menu {
    position: relative;
    top: 0px;
    opacity: 1;
    display: none;
  }
  #header #nav ul li ul.sub-menu a {
    border-bottom: 0px;
  }
  #header #nav ul li:hover ul.sub-menu,
  #header #nav ul li:hover ul.children {
    display: block;
  }
  #header.shrink .logo {
    height: 70px;
    overflow: hidden;
    display: block;
  }
  #header.shrink .logo img {
    max-width: 100px;
  }
}
/* Mobile ((Portrait) ------------------------------------- */
@media only screen and (max-width: 767px) {
  #header #logo {
    max-width: 30%;
  }
  #header #nav .menu-header {
    min-width: 200px;
  }
}
#page {
  margin-top: 80px;
  padding-top: 0px;
  text-align: left;
  padding-bottom: 0px;
}
#content {
  text-align: left;
}
#container {
  background: url('../../../uploads/2018/06/fabric.jpg');
}
#footer {
  color: #000000;
  padding: 0px;
  background-color: #ffffff;
  line-height: 1.6em;
}
#footer a {
  color: #000000;
  text-decoration: none;
}
#footer a:hover {
  opacity: 0.8;
}
#footer .row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
}
#footer .menu {
  column-count: 2;
}
#footer .menu li {
  float: none;
}
#footer .menu li a {
  display: inline-block;
  padding: 0px;
  font-family: 'Raleway', Georgia, Times, serif;
  font-weight: bold;
  color: #2b416d;
  line-height: 18px;
}
#footer p {
  margin-bottom: 6px;
}
#footer .social-media {
  margin-bottom: 5px;
}
#footer .social-media a i {
  background: #2b416d;
  color: #fff;
  display: inline-block;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  padding: 5px;
  font-size: 18px;
  width: 25px;
  height: 25px;
  text-align: center;
}
#footer .logo {
  max-width: 200px;
}
.copyright,
.credit,
.smackhappy {
  margin: 1em 0 0 0;
  font-size: 12px;
}
.copyright a,
.credit a,
.smackhappy a {
  text-decoration: none;
}
.footer-middle {
  text-align: center;
}
.footer-right {
  padding-left: 40px;
}
/* Tablet (Portrait) ------------------------------------- */
/* Mobile ((Portrait) ------------------------------------- */
@media only screen and (max-width: 767px) {
  #footer {
    padding: 20px 0px;
  }
  #footer .footer-middle {
    padding: 20px 0px;
  }
  #footer .footer-right {
    text-align: center;
    padding: 0px;
  }
  #footer .menu li {
    text-align: center;
  }
  #footer .row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  #footer .menu {
    column-count: 1;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .smackhappy {
    display: block;
  }
}
img.alignright {
  float: right;
  margin: 0 0 6px 10px;
}
img.alignleft {
  float: left;
  margin: 0 10px 6px 0;
}
.hide {
  display: none;
}
.date,
.help {
  color: #777;
  font-size: .9em;
}
.divider {
  clear: both;
  border-bottom: 3px solid #486db6;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.videoblock {
  background: center center no-repeat;
  background-size: cover;
  height: 250px;
  border: 2px solid #000;
  display: inline-block;
  position: relative;
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
.videoblock .play-button {
  background: url("../images/play-button.svg") center center no-repeat;
  background-size: 30%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 20px;
  opacity: 0.4;
}
.videoblock .play-button:hover {
  opacity: 0.7;
}
.videoblock strong {
  position: absolute;
  background: url("../images/transparent-black.png");
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 1px #000;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/* slider */
#container {
  padding: 0;
  overflow: hidden;
}
#container .cs,
#container .cs-viewport,
#container .cs-viewport div {
  height: 450px;
}
#container .cs-slide {
  background: center center no-repeat;
  background-size: cover;
}
.cta {
  padding-left: 15px;
  padding-right: 15px;
}
.cta h3.fl-cta-title {
  font-family: 'Raleway', Georgia, Times, serif;
  font-size: 30px;
  font-weight: bold;
}
.cta .fl-row-content-wrap {
  padding: 50px 0px 40px 0px;
  z-index: 0;
}
.cta .fl-row-content {
  max-width: 700px;
}
.whitebox .fl-row-content-wrap {
  box-shadow: 0px 0px 15px;
  border-radius: 5px;
  margin-top: -20px;
  background: #ffffff;
  padding: 30px;
  z-index: 1;
  margin-bottom: -20px;
}
.testimonials {
  margin-top: -40px;
  padding-left: 15px;
  padding-right: 15px;
}
.testimonials .fl-row-content-wrap {
  padding-bottom: 0px;
}
.testimonials button {
  background: transparent;
  margin-top: -50px;
}
.testimonials .slick-list.draggable {
  height: 100%!important;
}
.testimonials .uabb-blog-posts-shadow {
  box-shadow: 0px 0px 15px;
}
.testimonials .uabb-post-wrapper {
  padding-top: 2px;
}
.testimonials .uabb-blog-posts .uabb-post-wrapper {
  padding-left: 25px;
  padding-right: 25px;
}
.testimonials .uabb-text-editor {
  color: #000000;
  text-align: left;
  padding: 25px;
}
.testimonials .fl-row-content {
  margin-bottom: -60px;
}
.testimonials button {
  background: none!important;
}
.unused {
  margin-top: 45px;
}
.unused img {
  max-width: 300px;
}
.unused .fl-module-photo {
  position: absolute;
  margin-top: -80px;
  z-index: 10;
}
.unused h3.fl-cta-title {
  font-weight: bold;
}
.unused p {
  font-size: 18px;
}
.unused a.fl-button {
  background-color: #2b416d;
}
/* Services Page */
.page-id-186 .fl-icon {
  vertical-align: top;
  padding-top: 3px;
}
/* Listings Page */
.widgets_on_page ul {
  padding: 0px;
  list-style: none;
}
.widgets_on_page ul .upw-posts {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
}
.widgets_on_page ul .upw-posts article {
  -webkit-flex: 1 0 28%;
  /* Safari 6.1+ */
  -ms-flex: 1 0 28%;
  /* IE 10 */
  flex: 1 0 28%;
  max-width: 33.3%;
  padding: 10px;
  border: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.widgets_on_page ul .upw-posts article h4 {
  line-height: 27px;
  font-size: 22px;
}
.widgets_on_page ul .upw-posts .entry-image {
  height: 200px;
  overflow: hidden;
}
.widgets_on_page ul .upw-posts .entry-summary {
  margin-bottom: auto;
}
.widgets_on_page ul .upw-posts a.btn {
  max-width: 175px;
}
/* Referrals Page */
.page-id-188 .fl-module-accordion {
  height: auto;
}
.page-id-188 .fl-module-accordion .fl-accordion-item-active {
  height: auto;
}
.page-id-188 .fl-module-accordion .fl-accordion-item-active .fl-accordion-button-label {
  font-size: 25px;
  font-weight: bold;
  color: #2b416d;
}
.page-id-188 .fl-module-accordion .fl-accordion-content {
  column-count: 2;
  column-gap: 40px;
}
.page-id-188 .fl-module-accordion .fl-accordion-content a {
  text-decoration: underline;
}
/* FAQs Page */
.page-id-189 .fl-module-accordion .fl-accordion-button-label {
  font-size: 18px;
  font-weight: bold;
  color: #2b416d;
}
hr {
  display: block;
}
.fl-builder-edit .whitebox .fl-row-content-wrap {
  z-index: auto;
}
.fl-builder-edit #container .cta .fl-row-content-wrap {
  z-index: auto;
}
/* Search page */
.search section,
.error404 section {
  padding: 0px;
  z-index: 9;
  margin-bottom: 20px;
  float: none;
}
.search #main,
.error404 #main,
.search #content,
.error404 #content {
  max-width: 1100px;
  margin: auto;
}
.search #main .blog-thumb,
.error404 #main .blog-thumb,
.search #content .blog-thumb,
.error404 #content .blog-thumb,
.search #main time,
.error404 #main time,
.search #content time,
.error404 #content time,
.search #main entry-footer,
.error404 #main entry-footer,
.search #content entry-footer,
.error404 #content entry-footer {
  display: none;
}
.search #main a,
.error404 #main a,
.search #content a,
.error404 #content a {
  text-decoration: none;
  font-weight: bold;
}
.search #main h2.entry-title,
.error404 #main h2.entry-title,
.search #content h2.entry-title,
.error404 #content h2.entry-title {
  font-weight: normal;
  font-size: 24px;
}
.search #main h2.entry-title a,
.error404 #main h2.entry-title a,
.search #content h2.entry-title a,
.error404 #content h2.entry-title a {
  text-decoration: none;
}
.search #main article,
.error404 #main article,
.search #content article,
.error404 #content article {
  margin-bottom: 30px;
}
.search #main .testimonials,
.error404 #main .testimonials,
.search #content .testimonials,
.error404 #content .testimonials {
  padding-left: 0px;
}
.search .hero,
.error404 .hero {
  background-image: url('../../../uploads/2018/06/row-houses.jpg)');
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.search .hero:after,
.error404 .hero:after {
  background: rgba(255, 255, 255, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
/* buttons */
#container a.btn,
#container .btn,
#container button,
#container input[type="submit"],
#container .btn a,
#container .fl-builder-content a.fl-button {
  background: #cb171e;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
#container a.btn .fl-button-text,
#container .btn .fl-button-text,
#container button .fl-button-text,
#container input[type="submit"] .fl-button-text,
#container .btn a .fl-button-text,
#container .fl-builder-content a.fl-button .fl-button-text {
  color: #fff;
}
#container a.btn:hover,
#container .btn:hover,
#container button:hover,
#container input[type="submit"]:hover,
#container .btn a:hover,
#container .fl-builder-content a.fl-button:hover {
  opacity: 0.8;
}
#container button,
#container input[type="submit"] {
  padding: 4px 16px;
  -webkit-appearance: none;
}
.fl-post-grid-post {
  box-shadow: 0px 0px 15px;
  border-radius: 5px;
  background: #ffffff;
  padding: 30px;
  z-index: 1;
}
.fl-post-grid-post h2.fl-post-grid-title a {
  color: #2b416d;
}
.snippet {
  margin-bottom: 40px;
}
.snippet h2 {
  margin-top: 0;
}
.blog-thumb {
  background: center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.blog-thumb img {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.entry-footer {
  color: #999;
  font-size: .8em;
  text-decoration: none;
}
.entry-footer a {
  color: #999;
}
.entry-footer > span {
  margin-right: 6px;
}
.entry-footer .updated {
  display: none;
}
.navigation a,
.navigation span {
  padding-right: 6px;
}
.masonry .more-link {
  font-weight: bold;
}
.single .container,
.archive .container {
  padding-top: 50px;
}
.single .hero,
.archive .hero {
  background-image: url('../../../uploads/2018/06/row-houses.jpg)');
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.single .hero:after,
.archive .hero:after {
  background: rgba(255, 255, 255, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.single .whitebox,
.archive .whitebox {
  box-shadow: 0px 0px 15px;
  border-radius: 5px;
  background: #ffffff;
  padding: 30px;
  z-index: 1;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
.single .whitebox .fl-row-content-wrap,
.archive .whitebox .fl-row-content-wrap {
  box-shadow: none;
  padding: 0px;
}
.single .featured-image img,
.archive .featured-image img {
  width: 100%;
  margin-bottom: 20px;
}
.single .comment-form-comment label,
.archive .comment-form-comment label {
  display: none;
}
.single #content,
.archive #content {
  padding-bottom: 50px;
}
.single .nav-links a,
.archive .nav-links a {
  color: #2b416d;
  text-decoration: none;
}
.single #sidebar h2.widget-title:first-of-type,
.archive #sidebar h2.widget-title:first-of-type {
  margin-top: 0px;
}
.single #sidebar h2.widget-title,
.archive #sidebar h2.widget-title {
  font-size: 20px;
}
.single #sidebar ul,
.archive #sidebar ul {
  list-style: none;
  padding: 0px;
}
.single #sidebar ul li,
.archive #sidebar ul li {
  margin-bottom: 0px;
}
.single #sidebar ul li a,
.archive #sidebar ul li a {
  text-decoration: none;
}
.single #sidebar .widget_search,
.archive #sidebar .widget_search {
  padding-bottom: 20px;
}
.single #sidebar .widget_search input[type="submit"],
.archive #sidebar .widget_search input[type="submit"] {
  background-color: #2b416d !important;
  margin-top: 10px;
}
.single input[type="search"],
.archive input[type="search"] {
  width: 100%;
}
.archive h2.entry-title {
  font-size: 24px;
}
.archive h2.entry-title a {
  text-decoration: none;
}
.archive a.more-link {
  font-weight: bold;
  text-decoration: none;
}
.archive .comments-link {
  display: none;
}
/* Tablet (Portrait) ------------------------------------- */
@media only screen and (max-width: 959px) {
  .archive .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* Mobile ((Portrait) ------------------------------------- */
@media only screen and (max-width: 768px) {
  .blog-thumb {
    margin-bottom: 10px;
  }
  .single .container {
    width: 100%;
  }
  .single h1.entry-title {
    font-size: 30px;
  }
  .single .fl-row-fixed-width {
    padding: 0px;
  }
  .single .fl-row-fixed-width .fl-module-content {
    margin: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .single #comment {
    width: 100%;
  }
}
@media only screen and (max-width: 685px) {
  .fl-post-grid {
    width: 100%!important;
  }
  .fl-post-grid .fl-post-grid-post {
    width: 100%;
  }
}
/* forms */
#container .frm_forms {
  margin: auto;
}
#container .frm_forms br {
  display: none;
}
#container .frm_forms input {
  padding: 10px;
  border-radius: 0px;
}
#page > .container {
  width: 100%;
  margin: 0;
}
.home h1 span,
.home h1.fl-heading .fl-heading-text span {
  font-size: 48px;
  color: #ffffff!important;
}
.home #container {
  background-size: contain;
}
.home #container .hero .fl-row-content-wrap {
  height: 500px;
}
.home #container .hero .fl-col-group {
  margin-top: 15px;
}
.home #container .hero .fl-row-content {
  width: 350px;
  background: rgba(0, 167, 228, 0.7);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.home #container .hero .fl-heading-text {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.home #container .hero h1.fl-heading {
  line-height: 1.1em;
}
.home #container .interested {
  margin-top: -70px;
}
.home #container .interested img {
  width: 90%;
}
.home #container .interested .fl-row-content-wrap {
  box-shadow: 0px 0px 15px;
  border-radius: 5px;
  background: #ffffff;
  padding: 30px;
  z-index: 1;
}
.home #container .interested h2 {
  color: #2b416d;
  font-weight: bold;
}
.home #container .interested p {
  font-family: 'Raleway', Georgia, Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0px;
}
.home #container .interested .spacer {
  width: 1.25%!important;
}
.home #container .interested .one,
.home #container .interested .two,
.home #container .interested .three,
.home #container .interested .four,
.home #container .interested .five {
  min-width: 19%;
  min-height: 300px;
}
.home #container .interested .one p,
.home #container .interested .two p,
.home #container .interested .three p,
.home #container .interested .four p,
.home #container .interested .five p {
  font-size: 20px;
}
.home #container .interested .one,
.home #container .interested .three,
.home #container .interested .five {
  background-color: #a8d2ef;
}
.home #container .interested .two,
.home #container .interested .four {
  background-color: #c9e9fa;
}
.home #container .interested .one {
  margin-top: 120px;
}
.home #container .interested .two {
  margin-top: 90px;
}
.home #container .interested .three {
  margin-top: 60px;
}
.home #container .interested .four {
  margin-top: 30px;
}
.home #container .interested .fl-col-highlight {
  padding: 0px;
}
.home #container .home-blog .fl-col-group {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  flex-flow: row wrap;
}
.home #container .home-blog .fl-post-feed-post {
  margin: 0px;
  padding: 0px;
}
.home #container .home-blog .fl-post-feed-header {
  margin: 0px;
}
.home #container .home-blog h2.fl-post-feed-title {
  font-size: 18px;
  margin: 0px;
}
.home #container .home-blog #mce_37 {
  font-weight: normal;
}
.home #container .home-blog .fl-col:first-of-type {
  width: 45%;
}
.home .fl-post-feed-content a {
  font-weight: bold;
}
.home .blog a {
  font-weight: bold;
  color: #2b416d;
}
.fl-builder-edit .home #container .interested .fl-row-content-wrap,
.fl-builder-edit .home #container .cta .fl-row-content-wrap {
  z-index: auto;
}
@media only screen and (max-width: 1200px) {
  .home #container .interested .fl-row-content-wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 900px) {
  .home #container .interested p {
    font-size: 17px;
  }
  .home #container .unused .fl-cta-wrap {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 820px) {
  .home #container .interested .one p,
  .home #container .interested .two p,
  .home #container .interested .three p,
  .home #container .interested .four p,
  .home #container .interested .five p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .home #container .unused .fl-module-cta {
    margin-left: 320px;
    padding-right: 20px;
  }
  .home #container .home-blog h2.fl-post-feed-title,
  .home #container .home-blog p {
    text-align: center;
  }
  .home #container .testimonials .uabb-blog-posts-shadow {
    height: auto!important;
  }
  .home #container .interested .one,
  .home #container .interested .two,
  .home #container .interested .three,
  .home #container .interested .four,
  .home #container .interested .five {
    margin-top: 20px;
    min-height: auto;
  }
  .home #container .interested .one .fl-rich-text,
  .home #container .interested .two .fl-rich-text,
  .home #container .interested .three .fl-rich-text,
  .home #container .interested .four .fl-rich-text,
  .home #container .interested .five .fl-rich-text {
    font-size: 20px;
  }
  .home #container .interested .one img,
  .home #container .interested .two img,
  .home #container .interested .three img,
  .home #container .interested .four img,
  .home #container .interested .five img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .home #container .unused .fl-module-photo {
    position: relative;
  }
  .home #container .unused .fl-cta-wrap {
    text-align: center;
  }
  .home #container .unused .fl-cta-wrap p {
    text-align: center;
  }
  .home #container .unused .fl-module-cta {
    padding: 0px;
    margin: 0px;
  }
  .home #container .unused img {
    max-width: 200px;
  }
  .home #container .interested .fl-row-content-wrap {
    padding: 0px;
  }
}
/* #Site Styles // rewrite original
================================================== */
img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 1200px) {
  body {
    padding: 0px;
  }
}
@media only screen and (max-width: 1100px) {
  .whitebox {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .widgets_on_page ul .upw-posts .entry-image {
    height: 150px;
  }
}
/* Tablet (Portrait) ------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .fl-col-small {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unused .fl-module-cta {
    margin-left: 320px;
    padding-right: 20px;
  }
  .fl-row-fixed-width {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Mobile ((Portrait) ------------------------------------- */
@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    width: 90%;
  }
  #content,
  #sidebar {
    width: 100%;
  }
  .col {
    width: 100%;
    margin: 0;
  }
  .whitebox {
    margin-left: 15px;
    margin-right: 15px;
  }
  .testimonials .uabb-blog-posts-shadow {
    height: auto!important;
  }
  .unused .fl-module-photo {
    position: relative;
  }
  .unused .fl-cta-wrap {
    text-align: center;
  }
  .unused .fl-cta-wrap p {
    text-align: center;
  }
  .unused .fl-module-cta {
    padding: 0px;
    margin: 0px;
  }
  .unused img {
    max-width: 200px;
  }
  .page-id-188 .fl-module-accordion .fl-accordion-content {
    column-count: 1;
  }
  /* Listings Page */
  .widgets_on_page ul .upw-posts article {
    -webkit-flex: 1 0 42%;
    /* Safari 6.1+ */
    -ms-flex: 1 0 42%;
    /* IE 10 */
    flex: 1 0 42%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 585px) {
  .widgets_on_page ul .upw-posts article {
    -webkit-flex: 1 0 100%;
    /* Safari 6.1+ */
    -ms-flex: 1 0 100%;
    /* IE 10 */
    flex: 1 0 100%;
    max-width: 100%;
  }
  .widgets_on_page ul .upw-posts article h4.entry-title,
  .widgets_on_page ul .upw-posts article .entry-summary {
    text-align: center;
  }
  .widgets_on_page ul .upw-posts article a.btn {
    margin: auto;
  }
}
@media only screen and (max-width: 400px) {
  /* Referral Partners */
  .page-id-188 .fl-accordion-item a {
    word-break: break-all;
  }
}
